<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= form_with model: @ingredient_post, local:true,class: "form-group", html: { multipart: true } do |f| %>
        <%= f.label :"具材" %>
        <%= f.text_field :body, class: "form-control", placeholder: "具材名" %>
      
        <%= f.label :"画像" %>
        <%= f.file_field :image, class: "form-control-file", onchange: "previewImage(this)" %>
        <div class="mt-2">
          <%= image_tag "", id: "imagePreview", class: "img-fluid", style: "display: none;" %>
        </div>
      
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function previewImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#imagePreview').attr('src', e.target.result).show();
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>